{% extends "layouts/main.html" %}

{% block content %}

    <div id="gestion-informacion-encuesta" class="container-fluid">

      <!-- Información -->
      <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <!--<button class="btn button-right" data-target="#agregar-instrumento" data-toggle="modal">Crear Instrumento</button>-->
                  <h4 class="card-title ">Instrumento</h4>
                  <!--<p class="card-category"> Gestión de Instrumento </p>-->
                </div>
                <div class="card-body">

                  {% if instrumento.instrtipo == 1 %}
                    <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th></th>
                        <th v-for="campo in camposInformacion">
                          [[ campo ]]
                        </th>
                      </thead>
                      <tbody>
                        <tr v-for="info in informacion">
                          <td></td>
                          <td v-for="campo in camposInformacion">
                            [[ info[campo] ]]
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  {% elif instrumento.instrtipo == 2 %}
                    <div id="tmmap"></div>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>

    </div>

{% endblock %}