$cardHeaderColor: #0CBAEF;
$buttonColors: #0CBAEF;
$linkActiveColor: #0CBAEF;
$focusFieldColor: #0CBAEF;
$titleTableColor: #000000;
$menuItemsColor: #A9AFBB;
$actionsMenuColor: #7E8091;
$tarjetasReportesHover: #0CBAEF;
$scrollbar: #0CBAEF;

$backgroundActionButtonsModal: #0CBAEF;
$textActionButtonsModal: #FFFFFF;
$iconModalActions: invert(100%) sepia(0%) saturate(0%) hue-rotate(57deg) brightness(101%) contrast(103%);