#tmmap{

    height: 300px;
}

#agregar-instrumento iframe{

    height: 400px;
    width: 100%;
}

.estado-encuesta.sin-validar{

    color: orange;
}

.estado-encuesta.invalido{

    color: red;
}

.estado-encuesta.valido{

    color: green;
}