.page-header:before{

    background: #FFF;
}

.off-canvas-sidebar .wrapper-full-page .page-header{

    padding: 0 !important
}

#login{
    >div{
        padding: 0px;
    }
    form{
        margin-bottom: 0px !important;
        .card{
            height: 100vh;
            margin: 0 !important;
            #logo{
                padding: 50px 0px;
            }
            button{
                margin-top: 50px;
            }
        }
    }
    #right{
        align-items: center;
        background-image: url('/static/img/app/login.png');
        background-position: bottom right;
        background-size: cover;
        display: flex;
        p{
            color: #FFF;
            line-height: 1.3;
            padding-left: 110px;
            padding-top: 100px;
            span{
                display: block;
            }
            span.thin{
                font-size: 22pt;
            }
            span.bold{
                font-size: 28pt;
                font-weight: bold;
            }
        }
    }
}
