.page-header:before{

    background: #FFF;
}

.off-canvas-sidebar .wrapper-full-page .page-header{

    padding: 0 !important
}

#login{
    >div{
        padding: 0px;
    }
    .card{
        height: 100vh;
        margin: 0 !important;
        #logo{
            padding: 50px 0px;
        }
        button{
            margin-top: 50px;
        }
    }
    #right{
        background-image: url('/static/img/app/login.png');
        background-size: cover;
        display: flex;
        align-items: center;
        p{
            color: #FFF;
            line-height: 1.3;
            padding-left: 50px;
            padding-top: 100px;
            span{
                display: block;
            }
            span.thin{
                font-size: 22pt;
            }
            span.bold{
                font-size: 28pt;
                font-weight: bold;
            }
        }
    }
}
