#dimension{

    height: 300px;
}

.modal#agregar-proyecto .modal-body{

    /*overflow-y: scroll !important;
    height: calc(100vh - 200px)*/
}

#container-mapa-gestion-cambios{
    position: relative;
}

/* Gestión de Cambios */
#fab-gestion-cambios{
    position: absolute;
    top: 20px;
    z-index: 1000;
    right: 20px;
}

#mapa-dimension-territorial{
    height: 300px;
}