{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="dashboard">
      <div class="row">
        <div class="col-lg-8 col-md-3 col-sm-8">
          <!--<h2>Antes</h2>-->
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Reportes</h4>
              <p class="card-category"> Antes </p>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Decisión</th>
                  <th>Contexto</th>
                  <th>Proyectos</th>
                  <th>Tareas</th>
                  <th>Usuarios</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> [[ datosGenerales.decisiones ]] </td>
                    <td> [[ datosGenerales.contextos ]] </td>
                    <td> [[ datosGenerales.proyectos ]] </td>
                    <td> [[ datosGenerales.tareas ]] </td>
                    <td> [[ datosGenerales.usuarios ]] </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="col-lg-4">

          <div class="card">
              <div id="ranking-circle">
                <i class="fa fa-trophy" aria-hidden="true"></i>
              </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th>Nombre</th>
                  <th>Puntaje</th>
                </tr></thead>
                <tbody>
                  <tr v-for="r in ranking">
                    <td>[[ r.userfullname ]]</td>
                    <td> [[ r.puntaje ]] </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <canvas id="usuarios-rol" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <canvas id="usuarios-genero" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <canvas id="tareas-tipo" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <canvas id="usuarios-barrio" height="400" width="400"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <canvas id="usuarios-nivel-educativo" height="400" width="400"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}