{% extends "layouts/main.html" %}

{% block content %}

    <div id="gestion-contextos" class="container-fluid">

      <!-- Contextos -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <button class="btn button-right" data-target="#agregar-contexto" data-toggle="modal">Crear Contexto</button>
              <h4 class="card-title ">Contextos</h4>
              <p class="card-category"> Gestión de Contextos </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th></th>
                    <th>
                      Descripción
                    </th>
                  </thead>
                  <tbody>
                    <tr v-for="contexto in contextos">
                      <td>
                        <button @click="edicionContexto = contexto" class="btn" data-toggle="modal" data-target="#editar-contexto">
                          Edición
                        </button>
                        <button class="btn" @click="eliminarContexto(contexto.contextoid)">
                          Eliminar
                        </button>
                        <button class="btn">
                          <a :href="'/contextos/datos/' + contexto.contextoid">
                            Datos
                          </a>
                        </button>
                      </td>
                      <td>
                        [[ contexto.descripcion ]]
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modales -->
      <div class="row">

          <!-- Creación de Contexto -->
          <div class="modal fade" id="agregar-contexto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crear Contexto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="almacenamientoContexto.descripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <div class="form-group">
                          <button :disabled="!almacenamientoContexto.descripcion" class="btn" @click="almacenarContexto()" type="button">Guardar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Edición de Contexto -->
          <div class="modal fade" id="editar-contexto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Editar Contexto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="edicionContexto.descripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <div class="form-group">
                          <button :disabled="!edicionContexto.descripcion" class="btn" @click="editarContexto()" type="button">Editar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}