{% extends "layouts/main-logout.html" %}

{% block content %}

    <div id="password-reset" class="container-fluid">

      <!-- Recuperar contraseña -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Recuperación de contraseña</h4>
              <p class="card-category"> Ingresa tu E-mail </p>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">E-mail</label>
                          <input v-model="email" type="email" class="form-control">
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <button :disabled="email.length == 0" @click="verificacion()" class="btn" type="button">Enviar</button>
                      </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}