{% extends "layouts/main-logout.html" %}

{% block content %}

    <div id="password-reset" class="container-fluid">

      <!-- Recuperar contraseña -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Recuperación de contraseña</h4>
              <p class="card-category"> Ingresa tu nueva Contraseña </p>
            </div>
            <div class="card-body">
                {% if status %}
                    <form action="">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Contraseña</label>
                              <input v-model="reset.password" type="password" class="form-control">
                              <input type="hidden" v-model="reset.token" :run="reset.token = '{{token}}'" />
                            </div>
                          </div>
                          <div align="center" class="col-md-12">
                            <button :disabled="reset.password.length == 0" @click="reestablecimiento()" class="btn" type="button">Enviar</button>
                          </div>
                        </div>
                    </form>
                {% else %}
                    <p> token inválido </p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}