{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="gestion-proyectos-mapa">

        <div :class="{loading:loading}"></div>

        <!-- Equipo del proyecto -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "> Gestión de Proyecto </h4>
              <p class="card-category"> Gestión </p>
            </div>
              
            <div class="card-body">

            </div>

            <div class="card-body">

                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="">Seleccione Un Proyecto</label>
                        <select v-model="informacionProyecto" @change="cargarInformacionProyecto(informacionProyecto)" name="" id="" class="form-control">
                            <option value="">Seleccione un Proyecto</option>
                            <option v-for="proyecto in proyectos" :value="proyecto"> [[ proyecto.proynombre ]] </option>
                        </select>
                    </div>
                </form>

                <div>
                    <div id="container-mapa-gestion-cambios">
                        <div id="map"></div>
                        <div id="fab-gestion-cambios">
                            <button v-if="acciones.territorio" @click="gestionTerritorioProyecto()" class="btn btn-info btn-social btn-just-icon btn-round">
                                <i class="material-icons">my_location</i>
                                <div class="ripple-container"></div>
                            </button>
                            <button v-if="acciones.tiempo" @click="gestionTiempoProyecto()" class="btn btn-info btn-social btn-just-icon btn-round">
                                <i class="material-icons">access_time</i>
                                <div class="ripple-container"></div>
                            </button>
                            <button v-if="acciones.objetivo" @click="gestionObjetivoProyecto()" class="btn btn-info btn-social btn-just-icon btn-round">
                                <i class="material-icons">done</i>
                                <div class="ripple-container"></div>
                            </button>
                            <button v-if="acciones.equipo" @click="gestionEquipoProyecto()" class="btn btn-info btn-social btn-just-icon btn-round">
                                <i class="material-icons">people</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

          </div>
        </div>

        <!-- Gestión de Objetivo -->
        <div class="modal fade" id="gestion-objetivo-tarea">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Gestión Objetivo de Tarea - [[tareaGestion.tarenombre]] </h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for=""> Cantidad de Encuestas </label>
                                    <input v-model="tareaGestion.tarerestriccant" type="text" name="" id="" class="form-control">
                                </div>
                                <div align="center" class="col-sm-12">
                                    <button :disabled="tareaGestion.tarerestriccant && tareaGestion.tarerestriccant.length == 0" @click="edicionObjetivoTarea()" class="btn" type="button">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gestión de Tiempo -->
        <div class="modal fade" id="gestion-proyecto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Gestión de Tiempo de Proyecto - [[proyectoGestion.proynombre]] </h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="">Fecha Inicio</label>
                                    <input v-model="proyectoGestion.proyfechainicio" type="date" name="" id="" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label for="">Fecha Fin</label>
                                    <input v-model="proyectoGestion.proyfechacierre" type="date" name="" id="" class="form-control">
                                </div>
                                <div align="center" class="col-md-12">
                                    <button :disabled="(proyectoGestion.proyfechainicio && proyectoGestion.proyfechainicio.length == 0) && (proyectoGestion.proyfechacierre && proyectoGestion.proyfechacierre.length > 0)" @click="edicionTiempoProyecto()" class="btn" type="button">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gestión de Territorio -->
        <div class="modal fade" id="gestion-territorio-proyecto">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Cambio de Territorio</h3>
                        <div class="button close" data-dismiss="modal">&times;</div>
                    </div>
                    <div class="modal-body">
                        <div align="center" v-if="gestionTerritorial.areaDimensionTerritorial">
                            <p>Por favor Delimita el area en la que se va a ejecutar el proyecto</p>
                            <div id="mapa-dimension-territorial"></div>
                            <button :disabled="!datosCambioTerritorial.geojson" @click="paso2GestionTerritorial()" class="btn">Siguiente</button>
                        </div>
                        <div align="center" v-if="gestionTerritorial.listadoTareas">
                            <p>
                                Por favor especifica para cada una de las tareas una area de trábajo con relación a la
                                especificada anteriormente.
                            </p>
                            <table class="table table-stripped">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Edición</th>
                                    <th>Estado</th>
                                </tr>
                                <tr v-for="tarea in datosCambioTerritorial.tareas">
                                    <td> [[ tarea.tarenombre ]] </td>
                                    <td> <button @click="paso3GestionTerritorial(tarea)" class="btn"> Editar </button> </td>
                                    <td :inner-html.prop="tarea.redimensionado | estadoTareasRedimension"></td>
                                </tr>
                            </table>
                            <button @click="edicionTerritorioProyecto()" class="btn">Guardar</button>
                        </div>
                        <div align="center" v-if="gestionTerritorial.areaTarea">
                            <div id="mapa-tarea"></div>
                            <button :disabled="!tareaEdicion" @click="paso2GestionTerritorial()" class="btn">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gestión de Equipo -->
        <div class="modal fade" id="gestion-equipo-proyecto">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3> Gestión de Equipo de Proyecto </h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <td>Nombre</td>
                                                <td>Eliminar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="integrante in equipoProyecto">
                                                <td>[[integrante.userfullname]]</td>
                                                <td> <button @click="eliminarIntegranteEquipo(integrante.equid)" class="btn">Eliminar</button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <td>Nombre</td>
                                                <td>Agregar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="usuario in usuariosDisponiblesProyecto">
                                                <td>[[usuario.userfullname]]</td>
                                                <td> <button @click="agregarIntegranteEquipo(usuario.userid)" class="btn">Agregar</button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}