{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="gestion-proyectos-mapa">

        <!-- Equipo del proyecto -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "> Gestión de Proyecto </h4>
              <p class="card-category"> Gestión </p>
            </div>
              
            <div class="card-body">
                <form action="">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label for="">Seleccione Un Proyecto</label>
                            <select v-model="informacionProyecto" @change="cargarInformacionProyecto(informacionProyecto)" name="" id="" class="form-control">
                                <option value="">Seleccione un Proyecto</option>
                                <option v-for="proyecto in proyectos" :value="proyecto"> [[ proyecto.proynombre ]] </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-body">

                <div id="container-mapa-gestion-cambios">
                    <div id="map"></div>
                    <div id="fab-gestion-cambios">
                        <button v-if="acciones.territorio" @click="gestionTerritorioProyecto()" class="btn btn-social btn-just-icon btn-round">
                            <span>TT</span>
                            <div class="ripple-container"></div>
                        </button>
                        <button v-if="acciones.tiempo" @click="gestionTiempoProyecto()" class="btn btn-social btn-just-icon btn-round">
                            <span>T</span>
                            <div class="ripple-container">TM</div>
                        </button>
                        <button v-if="acciones.objetivo" @click="gestionObjetivoProyecto()" class="btn btn-social btn-just-icon btn-round">
                            <span>OB</span>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>

            </div>

          </div>
        </div>

        <div class="modal fade" id="gestion-objetivo-tarea">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Gestión Objetivo de Tarea - [[tareaGestion.tarenombre]] </h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for=""> Cantidad de Encuestas </label>
                                    <input v-model="tareaGestion.tarerestriccant" type="text" name="" id="" class="form-control">
                                </div>
                                <div align="center" class="col-sm-12">
                                    <button :disabled="tareaGestion.tarerestriccant && tareaGestion.tarerestriccant.length == 0" @click="edicionObjetivoTarea()" class="btn" type="button">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="gestion-proyecto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Gestión de Tiempo de Proyecto - [[proyectoGestion.proynombre]] </h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="">Fecha Inicio</label>
                                    <input v-model="proyectoGestion.proyfechainicio" type="date" name="" id="" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label for="">Fecha Fin</label>
                                    <input v-model="proyectoGestion.proyfechacierre" type="date" name="" id="" class="form-control">
                                </div>
                                <div align="center" class="col-md-12">
                                    <button :disabled="(proyectoGestion.proyfechainicio && proyectoGestion.proyfechainicio.length == 0) && (proyectoGestion.proyfechacierre && proyectoGestion.proyfechacierre.length > 0)" @click="edicionTiempoProyecto()" class="btn" type="button">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="gestion-territorio-proyecto">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Cambio de Territorio</h3>
                        <div class="button close" data-dismiss="modal">&times;</div>
                    </div>
                    <div class="modal-body">
                        <div align="center" v-if="gestionTerritorial.areaDimensionTerritorial">
                            <div id="mapa-dimension-territorial"></div>
                            <button v-if="datosCambioTerritorial.geojson" @click="paso2GestionTerritorial()" class="btn">Siguiente</button>
                        </div>
                        <div v-if="gestionTerritorial.listadoTareas">
                            <table class="table table-stripped">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Edición</th>
                                </tr>
                                <tr v-for="tarea in datosCambioTerritorial.tareas">
                                    <td> [[ tarea.tarenombre ]] </td>
                                    <td> <button> Editar </button> </td>
                                </tr>
                            </table>
                        </div>
                        <div v-if="gestionTerritorial.areaTarea">
                            <div id="mapa-tarea"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}