{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="gestion-proyectos-mapa">

        <!-- Equipo del proyecto -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "> Gestión de Proyecto </h4>
              <p class="card-category"> Gestión </p>
            </div>
              
            <div class="card-body">
                <form action="">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <!-- <label for="">Seleccione Un Proyecto</label> -->
                            <select v-model="informacionProyecto" @change="cargarInformacionProyecto(informacionProyecto)" name="" id="" class="form-control">
                                <option value="">Seleccione un Proyecto</option>
                                <option v-for="proyecto in proyectos" :value="proyecto"> [[ proyecto.proynombre ]] </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>  
            <div class="card-body">

                <div id="map"></div>

            </div>
          </div>
        </div>

        <div class="modal fade" id="gestion-objetivo-tarea">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Gestión Objetivo de Tarea - </h3>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <button type="button">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="gestion-proyecto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>fgfrg</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}