{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="gestion-plantillas">

<!--      <div :class="{loading:loading}">.</div>-->

      <!-- Plantillas de Equipo -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <button class="btn button-right" data-backdrop="static" data-target="#agregar-plantilla" data-toggle="modal">Crear Equipo</button>
              <h4 class="card-title "> Equipos </h4>
              <p class="card-category"> Equipo de Proyecto </p>
            </div>
            <div class="card-header">
              <form action="">
                <div class="form-group">
                  <input class="form-control" placeholder="Busqueda ..." type="text" v-model="filter">
                </div>
              </form>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <!--<table class="table">
                      <thead class=" text-primary">
                        <tr>
                            <th>
                              Nombre
                            </th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="plantilla in plantillas">
                          <td>
                            [[ plantilla.descripcion ]]
                          </td>
                          <td>
                            <div class="dropdown">
                              <a class="actions-menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" :href="'/equipos/' + plantilla.planid + '/miembros/'"> Miembros </a>
                                <a @click.prevent="plantillaEdicion = plantilla" data-toggle="modal" data-target="#editar-plantilla" class="dropdown-item" href="#"> Edición </a>
                                <a @click.prevent="eliminarPlantilla(plantilla.planid)" class="dropdown-item" href="#"> Eliminación </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>-->
                    <b-table
                        :current-page="pagination.currentPage"
                        :fields="teamFields"
                        :items="filteredTeams"
                        :per-page="pagination.perPage"
                    >
                        <template v-slot:cell(acciones)="data">
                            <div class="dropdown">
                              <a class="actions-menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" :href="'/equipos/' + data.item.planid + '/miembros/'"> Miembros </a>
                                <a @click.prevent="plantillaEdicion = data.item" data-toggle="modal" data-target="#editar-plantilla" class="dropdown-item" href="#"> Edición </a>
                                <a @click.prevent="eliminarPlantilla(data.item.planid)" class="dropdown-item" href="#"> Eliminación </a>
                              </div>
                            </div>
                        </template>
                    </b-table>

                    <b-pagination
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total-rows="filteredTeams.length"
                    ></b-pagination>
                </div>

            </div>
          </div>
        </div>
      </div>

        <div class="row">

            <!-- Creación de Plantilla -->
            <div class="modal fade" id="agregar-plantilla">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input v-model="almacenamientoPlantilla.descripcion" type="text" class="form-control">
                                    </div>
                                    <div align="center" class="col-md-12">
                                        <button :disabled="!almacenamientoPlantilla.descripcion" @click.prevent="guardarPlantilla()" class="btn" type="button"> Guardar </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edición de Plantilla -->
            <div class="modal fade" id="editar-plantilla">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="bmd-label-floating">Nombre</label>
                                        <input v-model="plantillaEdicion.descripcion" type="text" class="form-control">
                                    </div>
                                    <div align="center" class="col-md-12">
                                        <button :disabled="!plantillaEdicion.descripcion" @click.prevent="editarPlantilla()" class="btn" type="button"> Editar </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}