{% extends "layouts/main.html" %}

{% block content %}

    <div class="container-fluid" id="gestion-equipo">

        <!-- Equipo del proyecto -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Equipo de proyecto</h4>
              <p class="card-category"> Equipo de Proyecto </p>
            </div>
            <div class="card-body">
                <div id="map"></div>
            </div>
          </div>
        </div>

    </div>

{% endblock %}