{% extends "layouts/main.html" %}

{% block content %}

    <div id="gestion-proyectos" class="container-fluid">

      <div :class="{loading:loading}"></div>

      <!-- Proyectos -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <button class="btn button-right" data-backdrop="static" data-target="#agregar-proyecto" data-toggle="modal" @click.prevent="generarMapa(2000)">Crear Proyecto</button>
              <h4 class="card-title ">Proyectos</h4>
              <p class="card-category"> Gestión de Proyectos </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Estado
                    </th>
                    <th>
                      Nombre
                    </th>
                    <th>
                      Descripción
                    </th>
                    <th>
                      Creación
                    </th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr v-for="proyecto in filteredProjects">
                      <td>
                        [[ proyecto.proyestado | estado-entidad ]]
                      </td>
                      <td>
                        [[ proyecto.proynombre ]]
                      </td>
                      <td>
                        [[ proyecto.proydescripcion ]]
                      </td>
                      <td>
                        [[ proyecto.proyfechacreacion ]]
                      </td>
                      <td>
                        <div class="dropdown">
                          <a class="actions-menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a @click.prevent="edicionProyecto = proyecto" data-toggle="modal" data-target="#editar-proyecto" class="dropdown-item" href="#"> Edición </a>
                            <a @click="eliminarProyecto(proyecto.proyid)" class="dropdown-item" href="#"> Eliminación </a>
                            <a class="dropdown-item" :href="'/equipos/proyecto/' + proyecto.proyid"> Equipo </a>
                            <a class="dropdown-item" :href="'/proyectos/' + proyecto.proyid + '/tareas/'"> Tareas </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modales -->
      <div class="row">

          <!-- Creación de Proyecto -->
          <div class="modal fade" id="agregar-proyecto">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crear Proyecto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <!--  Datos Generales  -->
                  <div class="row">
                    <div class="container">
                       <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input v-model="almacenamientoProyecto.proynombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="almacenamientoProyecto.proydescripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Decisiones</label>
                          <!--<select v-model="almacenamientoProyecto.decisiones" class="form-control" multiple name="" id="">
                            <option value="">Seleccione</option>
                            <option v-for="decision in decisiones" :value="decision.desiid"> [[ decision.desidescripcion ]] </option>
                          </select>-->
                          <multiselect v-model="almacenamientoProyecto.decisiones" :multiple="true" :options="decisiones" track-by="desiid" label="desidescripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Contextos</label>
                          <multiselect v-model="almacenamientoProyecto.contextos" :multiple="true" :options="contextos" track-by="contextoid" label="descripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Equipos</label>
                          <multiselect v-model="almacenamientoProyecto.plantillas" :multiple="true" :options="plantillas" track-by="planid" label="descripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Fecha Inicio</label>
                          <input class="form-control" type="date" v-model="almacenamientoProyecto.proyfechainicio" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Fecha Cierre</label>
                          <input class="form-control" type="date" v-model="almacenamientoProyecto.proyfechacierre" />
                        </div>
                      </div>
                    </div>
                  </form>
                    </div>
                  </div>

                  <!-- Listado de Dimensiones -->
                  <div class="row">
                      <div class="container">

                        <div>
                          <button class="pull-right btn" type="button" @click.prevent="agregarDelimitacionGeografica()" :disabled="!delimitacionGeografica.nombre || !delimitacionGeografica.geojson || delimitacionGeograficaEdicion">
                            Agregar Dimensión
                          </button>
                          <button class="pull-right btn" @click.prevent="restablecerMapa();restablecerDelimitacionGeografica();">
                            Nuevo
                          </button>
                          <h2> Dimensiones </h2>
                        </div>

                        <div class="table-responsive">
                          <table class="table table-striped">
                          <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                          </tr>
                          <tr v-for="(dg, index) in almacenamientoProyecto.delimitacionesGeograficas">
                            <td> [[ dg.nombre ]] </td>
                            <td>
                              <button @click="detalleDelimitacionGeografica(dg, index)" class="btn">Editar</button>
                              <button class="btn" @click="eliminarDelimitacionGeografica(index)">Eliminar</button>
                            </td>
                          </tr>
                        </table>
                        </div>
                      </div>
                  </div>

                  <!--  Almacenamiento de Dimensiones -->
                  <div class="row">
                    <div class="container">
                      <div>
                        <button class="pull-right btn" type="button" :disabled="!delimitacionGeograficaEdicion" @click.prevent="actualizarDelimitacionGeografica()">Actualizar</button>
                        <button class="pull-right btn" type="button" :disabled="!delimitacionGeograficaEdicion" @click.prevent="restablecerMapa()" >Restablecer Mapa</button>
                        <h2>Crear Dimensiones </h2>
                      </div>
                      <form action="">
                        <div class="row">
                          <div class="offset-md-3 col-md-6">
                            <input v-model="delimitacionGeografica.nombre" type="text" class="form-control" placeholder="Nombre de dimension"> <br />
                          </div>
                          <div class="col-md-12">
                            <div id="dimension"></div>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>

                  <!-- Guardado De proyecto -->
                  <div align="center">
                    <button class="btn" @click="almacenarProyecto" :disabled="!almacenamientoProyecto.proynombre || !almacenamientoProyecto.proydescripcion || !almacenamientoProyecto.decisiones || !almacenamientoProyecto.contextos || !almacenamientoProyecto.plantillas || !almacenamientoProyecto.delimitacionesGeograficas.length > 0 || !almacenamientoProyecto.proyfechainicio || !almacenamientoProyecto.proyfechacierre">Guardar Proyecto</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Edición de Proyecto -->
          <div class="modal fade" id="editar-proyecto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Editar Proyecto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input v-model="edicionProyecto.proynombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="edicionProyecto.proydescripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Decisiones</label>
                          <multiselect v-model="edicionProyecto.decisiones" :multiple="true" :options="decisiones" track-by="desiid" label="desidescripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Contextos</label>
                          <multiselect v-model="edicionProyecto.contextos" :multiple="true" :options="contextos" track-by="contextoid" label="descripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Fecha Inicio</label>
                          <input class="form-control" type="date" v-model="edicionProyecto.proyfechainicio" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Fecha Cierre</label>
                          <input class="form-control" type="date" v-model="edicionProyecto.proyfechacierre" />
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <div class="form-group">
                          <button :disabled="!edicionProyecto.proynombre || !edicionProyecto.proydescripcion || !edicionProyecto.decisiones || !edicionProyecto.contextos || !edicionProyecto.proyfechainicio || !edicionProyecto.proyfechacierre" class="btn" @click="editarProyecto()" type="button">Editar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}