{% extends "layouts/main.html" %}

{% block content %}

    <div id="gestion-proyectos" class="container-fluid">

      <!-- Proyectos -->
      <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <button class="btn button-right" data-target="#agregar-proyecto" data-toggle="modal">Crear Proyecto</button>
                  <h4 class="card-title ">Proyectos</h4>
                  <p class="card-category"> Gestión de Proyectos </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Estado
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Descripción
                        </th>
                        <th>
                          Creación
                        </th>
                        <th>
                          Cierre
                        </th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr v-for="proyecto in proyectos">
                          <td class="text-primary">
                            [[ proyecto.proyestado | estado-entidad ]]
                          </td>
                          <td>
                            [[ proyecto.proynombre ]]
                          </td>
                          <td>
                            [[ proyecto.proydescripcion ]]
                          </td>
                          <td>
                            [[ proyecto.proyfechacreacion ]]
                          </td>
                          <td>
                            [[ proyecto.proyfechacierre ]]
                          </td>
                          <td>
                            <div class="dropdown">
                              <a class="actions-menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a @click.prevent="edicionProyecto = proyecto" data-toggle="modal" data-target="#editar-proyecto" class="dropdown-item" href="#"> Edición </a>
                                <a @click="eliminarProyecto(proyecto.proyid)" class="dropdown-item" href="#"> Eliminación </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <!-- Modales -->
      <div class="row">

          <!-- Creación de Proyecto -->
          <div class="modal fade" id="agregar-proyecto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crear Proyecto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input v-model="almacenamientoProyecto.proynombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="almacenamientoProyecto.proydescripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Decisiones</label>
                          <!--<select v-model="almacenamientoProyecto.decisiones" class="form-control" multiple name="" id="">
                            <option value="">Seleccione</option>
                            <option v-for="decision in decisiones" :value="decision.desiid"> [[ decision.desidescripcion ]] </option>
                          </select>-->
                          <multiselect v-model="almacenamientoProyecto.decisiones" :multiple="true" :options="decisiones" track-by="desiid" label="desidescripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Contextos</label>
                          <multiselect v-model="almacenamientoProyecto.contextos" :multiple="true" :options="contextos" track-by="contextoid" label="descripcion"></multiselect>
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <div class="form-group">
                          <button :disabled="!almacenamientoProyecto.proynombre || !almacenamientoProyecto.proydescripcion || !almacenamientoProyecto.decisiones || !almacenamientoProyecto.contextos" class="btn" @click="almacenarProyecto()" type="button">Guardar</button>
                        </div>
                      </div>                
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Edición de Proyecto -->
          <div class="modal fade" id="editar-proyecto">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Editar Proyecto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input v-model="edicionProyecto.proynombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Descripción</label>
                          <textarea v-model="edicionProyecto.proydescripcion" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Decisiones</label>
                          <multiselect v-model="edicionProyecto.decisiones" :multiple="true" :options="decisiones" track-by="desiid" label="desidescripcion"></multiselect>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="" class="bmd-label-floating">Contextos</label>
                          <multiselect v-model="edicionProyecto.contextos" :multiple="true" :options="contextos" track-by="contextoid" label="descripcion"></multiselect>
                        </div>
                      </div>
                      <div align="center" class="col-md-12">
                        <div class="form-group">
                          <button :disabled="!edicionProyecto.proynombre || !edicionProyecto.proydescripcion || !edicionProyecto.decisiones || !edicionProyecto.contextos" class="btn" @click="editarProyecto()" type="button">Editar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}